/** Date Picker Css*/

.calendarIcon,
.eventCalOut,
.ui-datepicker {
    background-color: #497abc;
}

.ui-datepicker th,
.ui-state-highlight {
    background-color: #141414
}

.ui-datepicker tbody a:hover,
.ui-state-active {
    background-color: #141414
}

.ui-datepicker {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 20em;
    padding: 0;
    display: none;
    z-index: 22!important
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0;
    margin: 5px 0
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: -999em;
    overflow: hidden;
    background: 0 0;
    padding: 0;
    margin: 0
}

.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-prev:hover {
    top: 0;
    background: 0 0;
    padding: 0;
    margin: 0
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev:hover {
    left: 0
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next:hover {
    right: 0
}

.ui-datepicker .ui-datepicker-prev:after {
    content: '';
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
    left: 8px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent
}

.ui-datepicker .ui-datepicker-next:after {
    content: '';
    position: absolute;
    top: 5px;
    width: 0;
    height: 0;
    right: 8px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -8px;
    font-size: 12px
}

.ui-datepicker .ui-datepicker-title {
    line-height: 30px;
    margin: 0 35px;
    overflow: hidden;
    text-align: center
}

.ui-datepicker .ui-datepicker-title select {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    font-size: 14px;
    height: 30px;
    margin: 0;
    padding: 0
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 48%
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
    border: 0 none
}

.ui-datepicker th {
    padding: .5em .3em;
    text-align: center;
    font-weight: 700;
    border: 0
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
    background-color: transparent
}

.ui-datepicker tr:nth-child(2n+1) td,
.ui-datepicker-calendar .tableRowOdd {
    background-color: transparent
}

.ui-datepicker td a,
.ui-datepicker td span {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    overflow: hidden
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible
}

.eventcal-out {
    position: absolute;
    width: 222px;
    right: -222px;
    float: right;
    top: 70px;
    z-index: 22
}

.calendar-icon {
    width: 50px;
    height: 52px;
    position: absolute;
    left: -50px
}

.calendar-icon span {
    background-position: -113px -27px;
    width: 29px;
    height: 29px;
    margin: 10px
}

.calendar-out {
    padding: 5px
}

.calendar-out .ui-datepicker {
    width: 100%
}

.calendar-out .button {
    background-color: #2979ca;
    color: #fff;
    display: block;
    text-align: center;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px
}

.calendar-out .button:hover {
    background-color: #173c84
}

.ui-datepicker tbody a {
    color: #fff
}

.ui-datepicker-title {
    font-size: 18px;
    font-weight: 400;
    color: #fff
}

.ui-datepicker th {
    text-transform: uppercase;
    font-weight: 400;
    color: #fff
}

.ui-datepicker-next,
.ui-datepicker-prev {
    width: 25px;
    font-size: 16px;
    height: 25px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: #fff
}

.ui-datepicker-prev span {
    background-position: -147px -27px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    position: static;
    margin: 5px 0 0
}

.ui-datepicker-next span {
    background-position: -175px -27px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    position: static;
    margin: 5px 0 0
}

.ui-datepicker td a,
.ui-datepicker td span {
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: 50%
}

.ui-datepicker-trigger {
    display: none;
    width: 30px;
    height: 30px;
    vertical-align: top;
    overflow: hidden;
    background: 0 0!important;
    padding: 0;
    margin: 0;
    position: absolute;
    right: -45px;
    top: 7px
}

.cal-icon {
    background-position: -205px -107px;
    width: 30px;
    height: 30px;
    display: block;
    vertical-align: top
}


/** Custom Selectbox HeapBox Css*/

.heapBox {
    clear: both;
    position: relative;
    text-align: left
}

.heapBox:after,
.heapBox:before {
    content: " ";
    display: table
}

.heapBox:after {
    clear: both
}

.heapBox * {
    margin: 0;
    padding: 0;
    outline: 0
}

.heapBox.disabled .holder {
    color: #ffbc46
}

.heapBox a {
    text-decoration: none;
    color: #fff
}

.heapBox .holder {
    display: block;
    width: 100%;
    position: relative;
    background: 0 0;
    border-image-source: linear-gradient(90deg, #bb8719 0, #bb8719 37%, #e6c45d 73%, #bb8719 100%);
    color: #808082;
    font-size: 15px;
    height: 40px;
    line-height: 1.42857;
    height: 42px;
    padding: 3px 0px 17px 0px;
    z-index: 10;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.heapBox .handler {
    display: block;
    position: absolute;
    right: -2px;
    top: 0;
    border: none;
    height: 40px;
    width: 50px;
}

.heapBox .handler:before {
    border: solid #000;
    border-width: 0 0 3px 3px;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    z-index: 13;
    right: 5px;
    top: 5px
}

.heapBox div.heap {
    display: none;
    position: absolute;
    list-style-type: none;
    left: 0;
    width: 100%;
    top: 77%;
    overflow: hidden;
    z-index: 99
}

.heapBox .heap .heapOptions {
    display: block;
    overflow: hidden;
    z-index: 20;
    position: relative;
    background-color: #141414;
    padding: 0
}

.heapBox .heap a.sliderUp {
    display: block;
    width: 100%;
    height: 15px;
    background: #fff url(../images/slider_arrow_up.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid #d18814;
    position: absolute;
    top: 0;
    z-index: 30
}

.heapBox .heap a.sliderDown {
    display: block;
    width: 100%;
    height: 15px;
    background: #fff url(../images/slider_arrow_down.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 1px solid #d18814;
    position: absolute;
    bottom: 0;
    z-index: 30
}

.heapBox .heap .heapOptions .heapOption {
    z-index: 20;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    margin: 0
}

.heapBox .heap .heapOptions .heapOption a {
    display: block;
    line-height: 1.42857;
    padding: 6px 10px;
    text-transform: none;
    color: #fff;
    border: 0 solid transparent;
    font-weight: 300;
    text-transform: none
}

.heapBox .heap .heapOptions .heapOption a.selected,
.heapBox .heap .heapOptions .heapOption a:hover {
    background-color: #497abc;
    color: #fff
}

.heapBox .heap .heapOptions .heapOption a.disabled {
    color: #f6bb5a
}

.shipping-region .heapBox .heap .heapOptions {
    height: 208px;
    overflow: auto
}